<div class="auth-wrapper">
  <div class="auth-card">

    <h1>Recover Master Password</h1>

    <!-- STEP 1 -->
    <form *ngIf="step === 1" [formGroup]="verifyForm" (ngSubmit)="verifyAnswer()">

     <label for="fp-username">Username</label>
<input
  id="fp-username"
  type="text"
  formControlName="username"
  placeholder="Enter your username"
  title="Username"
/>

<label for="fp-answer">Security Answer</label>
<input
  id="fp-answer"
  type="password"
  formControlName="answer"
  placeholder="Enter your security answer"
  title="Security answer"
/>

      <button type="submit">Verify</button>

    </form>

    <!-- STEP 2 -->
    <form *ngIf="step === 2" [formGroup]="resetForm" (ngSubmit)="resetPassword()">
<label for="username">Username</label>
<input
  id="username"
  type="text"
  formControlName="username"
  placeholder="Enter username"
/>
      <button type="submit">Reset Password</button>

    </form>

    <p *ngIf="message">{{ message }}</p>

  </div>
</div>