<div class="auth-wrapper">
  <div class="auth-card">

    <h1>Change Master Password</h1>

    <!-- STEP 1 -->
    <form *ngIf="step === 1"
          [formGroup]="verifyForm"
          (ngSubmit)="verifyAnswer()">

      <label for="username">Username</label>
<input id="username" formControlName="username" placeholder="Enter username" />

<label for="answer">Security Answer</label>
<input id="answer" type="password"
       formControlName="answer"
       placeholder="Enter security answer" />

<button type="submit">Verify</button>

    </form>

    <!-- STEP 2 -->
    <form *ngIf="step === 2"
          [formGroup]="resetForm"
          (ngSubmit)="resetPassword()">

      <label for="newPassword">New Master Password</label>
<input id="newPassword"
       type="password"
       formControlName="newMasterPassword"
       placeholder="Enter new master password" />
      

      <button type="submit">Update Password</button>

    </form>

    <p *ngIf="message">{{ message }}</p>

  </div>
</div>